
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 48px;
}

ul {
    padding: 0;
}


input {
    width: 480px;
    border-radius: 60px;
    padding: 30px;
    border: 1px solid #D4D4D4;
  
    font-size: 16px;
    margin-bottom: 48px;
}

button {
    border: none;
    width: 201px;
    height: 80px;
    background: #4178E3;
    border-radius: 60px;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.item {
    width: 757px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
    padding: 0;
    list-style-type: none;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 700px;
    height: auto;
    padding: 28px;
    list-style-type: none;
    border: 1px solid #D4D4D4;
    border-radius: 30px;
}

.like,
.delete {
    cursor: pointer;
}


.show {
    text-decoration:line-through;
    opacity: 0.5;
}



